.text-roboto {
    font-family: 'Roboto', sans-serif;
}
.flex {
    display: flex;
    align-items: center;
}
.flex-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avatar {
    border-radius: 50%;
}
.no-under:hover {
    text-decoration: none;
}